
body {
	 background:url(../img/seattle2.jpg) no-repeat; 
            }

h1.header {
	font-size: 100px;
	text-transform: uppercase;
	font-family: 'Raleway', sans-serif;
	
	/*letter-spacing:50px;*/
	border-radius:10px;
	text-align:center;	
}

p.temp {
	font-size: 100px;
	
	
	
}
p.low {
	
	font-size:100px;
	
	text-align: center;
}
p.high {
	
	font-size:100px;
	
	text-align: center;
}

p {
	
	
	font-size:50px;
	text-align: center;
	
}
h2 {
	text-align:center;
}
h2.time {
text-align: center;

}
.ui.divider {
	background-color:#1D1F1F;

}

.eight.wide.column.tempature {
	/*height:300px;*/
	
border-radius: 10px;
}

.two.wide.column {
	background-color:226, 226, 229;
}
 


/* .eight.wide.column.diddy {
background-color: #D94141;
font-size: 47px;
text-align:justify;
text-transform: uppercase;
color: #D99C9C;
border-radius: 10px;
}


body {
	background-color: ;


}




/** media quuries **/
/* Mobile */
/*@media screen and (max-width: 320px) {
body {
	background-color: blue;
}

}
/* Tablet */

/*@media screen and (max-width: 768px) {
body {
	background-color: red;
}
}

/* Desktop */
/*
@media screen and (max-width: 1140px) {
body {
	background-color: purple;
}
}*/
