
h1.header {
	font-size: 100px;
	text-transform: uppercase;
	font-family: 'Raleway', sans-serif;
	background-color: #72A69C;
	/*letter-spacing:50px;*/
	border-radius:10px;
	text-align:center;	
}

p.temp {
	font-size: 200px;
	text-align: center;

}

p.current {
	
}

.eight.wide.column.tempature {
	/*height:300px;*/
	border: solid;
border-radius: 10px;
}
.four.wide.column.high	{
font-size:100px;

}
.four.wide.column.low {
	font-size:100px;
	
}


.eight.wide.column.diddy {
background-color: #D94141;
font-size: 47px;
text-align:justify;
text-transform: uppercase;
color: #D99C9C;
border-radius: 10px;
}


body {
	background-color: ;


}




/** media quuries **/
/* Mobile */
/*@media screen and (max-width: 320px) {
body {
	background-color: blue;
}

}
/* Tablet */

/*@media screen and (max-width: 768px) {
body {
	background-color: red;
}
}

/* Desktop */
/*
@media screen and (max-width: 1140px) {
body {
	background-color: purple;
}
}*/
